@{
    ViewBag.Title = "Index";
}
    <div class="row col-12">
        <div class="card bg-dark text-white">
            <img src="..." class="card-img" alt="...">
            <div class="card-img-overlay">
                <h5 class="card-title">Veterinaria</h5>
                <p class="card-text">Nos preocupamos por la salud y estabilidad de tus mascotas, por eso contamos con expertos en el cuidado de tus mascotas.</p>
                <p class="card-text"></p>
            </div>
        </div>
    </div>


